<ion-view title="Campanhas Ativas">
    <ion-content padding="'true'" class="has-header">
        <div class="list card">
            <div class="item item-divider">#invernosemfrio</div>
            <div class="item item-body">
                <h3>Início: 01/12/2015</h3>
                <h3>Fim: 31/12/2015</h3>
                <h3>Descrição</h3>
                <div>
                    <p>Ajude as pessoas que necessitam neste inverno! Separe algumas roupas de frio, cobertores, meias, calças e vamos fazer uma boa ação! Poste uma foto com suas doações e acrescente a hashtag #invernosemfrio para pontuar. Doe você mesmo
                        ou passe em nosso 13º andar e deixe suas doações com Flávia ou Andréia. Vamos ajudar o próximo.</p>
                </div>
                <button class="button button-stable button-block ">Participar</button>
            </div>
        </div>
    </ion-content>
</ion-view>