<ion-view view-title="Dashboard">
  <ion-content>
		<div class="list card">
            <div class="item item-divider">
	            <div class="userimg">
	            	<img src="img/marina.png">
	            </div>
	            <div class="posttitle">
		            <div class="userName">Marina Teixeira</div>
		            <div class="else">compartilhou</div>
	            </div>
            </div>
            <div class="item item-body">
            	<div class="descricao">Festa de fim de ano e início da campanha #DezembroSaudavel, façam seu check-up e tenha uma boa alimentação para somar muitos pontos.</div>
            	<br>
                <img src="img/dash1.png" width="100%" height="auto" style="width: 100%; height: auto;">
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
	            <div class="userimg">
	            	<img src="img/pedro.png">
	            </div>
	            <div class="posttitle">
		            <div class="userName">Pedro Soares</div>
		            <div class="else">compartilhou</div>
	            </div>
            </div>
            <div class="item item-body">
            	<div class="descricao">Lutamos juntos no dia a dia, e no tatame! #LutaCotidiana a campanha que me mostrou a paz interior nas artes marciais.</div>
            	<br>
                <img src="img/dash2.png" width="100%" height="auto" style="width: 100%; height: auto;">
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
	            <div class="userimg">
	            	<img src="img/flash.png">
	            </div>
	            <div class="posttitle">
		            <div class="userName">Flash Jb</div>
		            <div class="else">compartilhou</div>
	            </div>
            </div>
            <div class="item item-body">
            	<div class="descricao">Muito entusiasmado com essa bela campanha #DiárioDoBem que promove ajudar crianças que vivem em casas de recuperação de drogas.</div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
	            <div class="userimg">
	            	<img src="img/fabricio.png">
	            </div>
	            <div class="posttitle">
		            <div class="userName">Fabricio Oliveira</div>
		            <div class="else">em</div>
		            <div class="else2">Caldas Novas - GO</div>
	            </div>
            </div>
            <div class="item item-body">
            	<div class="descricao">Holiday is the best time of the year! #SorteioViagemDoAno</div>
            	<br>
                <img src="img/dash3.png" width="100%" height="auto" style="width: 100%; height: auto;">
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
	            <div class="userimg">
	            	<img src="img/italo.png">
	            </div>
	            <div class="posttitle">
		            <div class="userName">Italo Marcos</div>
		            <div class="else">compartilhou</div>
	            </div>
            </div>
            <div class="item item-body">
            	<div class="descricao">#NatalSolidário2015</div>
            	<br>
                <img src="img/dash4.png" width="100%" height="auto" style="width: 100%; height: auto;">
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
	            <div class="userimg">
	            	<img src="img/hugo.png">
	            </div>
	            <div class="posttitle">
		            <div class="userName">Hugo Álvares</div>
		            <div class="else">compartilhou</div>
	            </div>
            </div>
            <div class="item item-body">
            	<div class="descricao">Que impulso que essa campanha me deu para sair do sedentarismo nesses últimos 3 meses, e que agora levarei para a vida toda! #Fitness2015</div>
            	<br>
                <img src="img/dash5.png" width="100%" height="auto" style="width: 100%; height: auto;">
            </div>
        </div>
  </ion-content>
</ion-view>