<ion-view title="Login">
    <ion-content padding="'true'" class="has-header">
        <img src="img/jiFm5DAQVe7ySU2POodw_logo.png" width="100%" height="auto" style="width: 100%; height: auto;">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="edtEmail">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input" name="edtSenha">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a menu-close="" href="#/app/dashboard" class="button button-stable button-block ">Entrar</a>
            <a menu-close="" href="#/app/cadastro" class="button button-positive button-clear button-block ">Criar uma conta</a>
        </form>
    </ion-content>
</ion-view>