<ion-view title="Loja">
    <ion-content padding="'true'" class="has-header">
        <h4>Pontos disponíveis: 1000</h4>
        <ion-list>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/app/item">
                <img src="img/squeeze.png" width="100%" height="auto">
                <h2>Squeeze térmica</h2>
                <p>300 pts</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/app/item">
                <img src="img/caneta.png" width="100%" height="auto">
                <h2>Caneta Mont Blanc</h2>
                <p>3000 pts</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/app/item">
                <img src="img/caneca.png" width="100%" height="auto">
                <h2>Caneca Star Wars</h2>
                <p>400 pts</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/app/item">
                <img src="img/cesta.png" width="100%" height="auto">
                <h2>Cesta de natal</h2>
                <p>500 pts</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>